

*{
    margin :0px;
}

:root {
  --bg-color: #ffffff;
  --text-color: #262626;
  --row-hover: rgba(0, 0, 0, 0.05);
  --border-color: #f0f0f0;
}

.dark-theme {
  --bg-main: #000000;       
  --bg-row: #161616;         
  --bg-hover: #000000;      
  --text-main: #ffffff;
  --border-line: #262626;   
}