.footer a {
  position: relative;      
  text-decoration: none;     
  color: var(--text-color);
  cursor: pointer;
  padding: 2px 0;
  display: inline-block;     
}

.footer a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;                  
  height: 2px;
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  transition: width 0.5s ease;
}


.footer a:hover::after {
  width: 100%;             
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  padding: 15px 0;
  transition: background-color 0.3s ease;
}

.middle, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}