
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-attachment: fixed;
  min-height:100vh;
  color:white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style:normal;
  font-size: small;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
